<% layout('layout/boilerplate.ejs')%>
<div id="map" style="margin-top: 40px; width: 100%; height: 500px;"></div>
    <h1>ALL Hotels </h1>
<% for(let i of camps) {%>
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <% if(i.images.length) {%>
                    <img src="<%=i.images[0].url%>" alt="" class="img-fluid">
                <% }else{ %>
                    <img src="" alt="" class="img-fluid">
                <% } %>  
            </div>
            <div class="col-mg-8">
                <h3 class="card-title"><%=i.title%></h3>
                <p class="card-text"><%=i.description%></p>
                <p class="card-text">
                    <small class="text-muted"><%=i.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=i._id%>">View <%=i.title%></a>
            </div>
        </div>
    </div>
<% } %>
<script>
    const accessToken='<%-process.env.MAP_BOX_TOKEN%>';
    const camp={features: <%-JSON.stringify(camps)%>};

  </script>
  <script src="/JavaScripts/clusterMap.js"></script>