<% layout('layout/boilerplate.ejs') %>
    <h1><%=foundCamp.title%></h1>
    <ul>
        <li><%=foundCamp.location%></li>
    </ul>
    <a href="/campgrounds/<%=foundCamp._id%>/edit">Edit</a>
    <a href="/campgrounds/">All CampGrounds</a>
    <img src="<%=foundCamp.image%>" alt="Image Not Found">
    <p><%=foundCamp.description%></p>
    <form action="/campgrounds/<%=foundCamp._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
    </form>