<% layout('layout/boilerplate.ejs') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-4">
            <img src="<%=foundCamp.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=foundCamp.title%></h5>
              <p class="card-text"><%=foundCamp.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=foundCamp.location%></li>
              <li class="list-group-item">$<%=foundCamp.price%>/night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%=foundCamp._id%>/edit" class="card-link btn btn-info">Edit</a>
                <form class="d-inline" action="/campgrounds/<%=foundCamp._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                Updated 3 days ago
            </div>
          </div>
    </div>
</div>